.hero-img img {
    aspect-ratio: 16 / 9;
}

.card-grid img {
    aspect-ratio: 3 / 2;
}

.callout img {
    aspect-ratio: 1 / 1; 
}

.hero-img img, .card-grid img, .callout img {
    object-fit: cover;
}

.popout {
    transition: transform 0.4s ease;
}

.popout:hover {
    transform: scale(1.03);
}


@media only screen and (max-width: 768px) {
.hero-content {
    padding-top: 20px;
}

.hero-img {
    height: fit-content;
}
}

@media only screen and (min-width: 768px) {

.hero-banner img {
    position: absolute;
    width: 50vw;
    height: calc(100% - 64px);
    left: calc(-50vw + 50%);
}

.hero-content {
padding-top: 15vh;
}
}