.hero-img img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card-grid img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
.hero-content {
    padding-top: 20px;
}

.hero-img {
    height: fit-content;
}
}

@media only screen and (min-width: 768px) {

.hero-banner img {
    position: absolute;
    width: 50vw;
    height: calc(100% - 64px);
    left: calc(-50vw + 50%);
}

.hero-content {
padding-top: 15vh;
}
}