.hero-banner {
    background-image: url("../images/home-hero.jpg");
    height: 100vh;
}

.hero-content {
    padding-top: 10vh;
}

img {
    aspect-ratio: 3 / 2;
    height: 100%;
    object-fit: cover;
}

button {
    min-width: 200px;
}

blockquote p {
    font-size: 2rem;
}

@media only screen and (min-width: 768px) {
    .hero-content {
        padding-top: 40vh;
    }
}