* {
    font-family: "Noto Sans", sans-serif;
    line-height: auto;
    scroll-behavior: smooth;
    --black: #121212;
    --white: #fff;
    --light-grey: #d6d6d6;
    --accent: #ffa41d;
    --light-accent: #fffaf2;
}

body {
    min-height: 100vh;
    background-color: var(--light-accent);
    cursor: url("../images/pizza-slice.png"), auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poltawski Nowy", serif;
    font-weight: 700;
    font-style: italic;
}

h1 {font-size: 3.815rem;}
h2 {font-size: 3.052rem;}
h3, h4 {font-size: 2.441rem;}
h5 {font-size: 1.953rem;}
h6 {font-size: 1.563rem;}

a {
    color: var(--accent);
}

section {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-spacing: 0;
    text-align: left;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid var(--black);
    padding: 10px;
}

.table-content-center thead,
.table-content-center tbody td {
    text-align: center;
}

.skip-link {
    position: absolute;
    top: -100px;
    left: 0;
    padding: 20px;
    z-index: 2000000;
    font-size: 1.25rem;
    background-color: var(--white);
}

.skip-link:focus {
    top: 0;
}

img {
    display: inline-block;
    width: 100%;
}

picture {
    width: 100%;
}

picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    background-color: var(--black);
    border: none;
}

button:hover {
    background-color: var(--accent);
}

button a {
    color: var(--white) !important;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    padding: 10px;
}


hr {
    border-top: 10px dotted var(--accent);
}



/* --------------------------- REUSABLES --------------------------------- */

.block {
    display: block;
}

.max-width {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.max-width-narrow {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.vertical-align {
    margin-top: auto;  
    margin-bottom: auto;
}

.relative {
    position: relative;
}

.obj-f-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.bg-black {
    background-color: var(--black);
}

.bg-white {
    background-color: var(--white);
}

.bg-accent {
    background-color: var(--accent);
}

.white {
    color: var(--white);
}



.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.center-text, .text-center {
    text-align: center;
}


/* -------------------------MARGINS PADDING ---------------------- */

.marg-b-20, .marg-b-50 {
    margin-bottom: 20px;
}

.marg-b-0 {
    margin-bottom: 0;
}

.pad-20 {
    padding: 20px;
}

.pad-lr-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.pad-tb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-tb-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pad-tb-100 {
    padding-top: 20px;
    padding-bottom: 20px;
}


/* -------------------------------- HEADER STYLES ---------------------------- */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    background-color: rgba(255, 255, 255, .8);
    padding: 0 20px;
}

.nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nav-container ul {
    width: 100%;
    padding: 0;
}

.nav-container li {
    display: inline-block;
    width: 100%;
}

.nav-container li:hover {
    background-color: var(--black);
}

nav p,
nav a {
    color: var(--black);
    display: inline-block;
    width: 100%;
    text-decoration: none;
}

nav a {
    padding: 20px 40px;
}

.nav-container li:hover a {
    color: var(--white) !important;
}

nav .tagline {
    font-size: 1.25rem;
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
    padding: 20px;
    margin-bottom: 0;
}

.nav-current {
    background-color: var(--black);
}

.nav-current a {
    color: var(--black);
}

.nav-current:hover, .nav-current a:hover {
    pointer-events: none;
}

.hero-banner {
    padding-top: 256px;
    background: center / cover fixed;
    min-height: 60vh;
}

.hero-content {
    padding-top: 20vh;
}

.img-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

@media only screen and (max-width: 768px) {
    .img-gallery .grid {
        grid-template-columns: 1fr 1fr;
    }
    
    .img-gallery .grid-except {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 768px) {
    
    .marg-b-50 {
        margin-bottom: 50px;
    }

    .pad-tb-100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    nav {
        position: fixed;
    }

    .nav-container {
        flex-direction: row;
    }

    .nav-container ul {
        width: 100%;
        text-align: center;
    }

    .nav-container li {
        width: max-content;
    }

    .hero-banner {
        padding-top: 64px;
    }
}